# Dependencies
node_modules

# Environment files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Documentation
README.md
docs
